
*{box-sizing: border-box;}


.text1{
display: inline-block;
position: relative;
left: 630px;
bottom: 20px;
}

#logo{
    position: relative;
    top:25px;
    left: 20px;

}

#download{
    border:1px solid black;
    border-radius: 60px;
    width: 135px;
    height: 33px;
    text-align: center;
    padding-top: 6px;

}

#download:hover{
    background-color:rgba(240, 248, 255, 0.879);
}






